/* ABC fonts */
@font-face {
  font-family: 'ABCSans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ABCSans Regular'), url('./fonts/abcsans-regular.woff') format('woff');
}
@font-face {
  font-family: 'ABCSans RegularItalic';
  font-style: normal;
  font-weight: normal;
  src: local('ABCSans RegularItalic'), url('./fonts/abcsans-regularitalic.woff') format('woff');
}
@font-face {
  font-family: 'ABCSans Light';
  font-style: normal;
  font-weight: normal;
  src: local('ABCSans Light'), url('./fonts/abcsans-light.woff') format('woff');
}
@font-face {
  font-family: 'ABCSans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ABCSans Bold'), url('./fonts/abcsans-bold.woff') format('woff');
}
@font-face {
  font-family: 'ABCSans Black';
  font-style: normal;
  font-weight: normal;
  src: local('ABCSans Black'), url('./fonts/abcsans-black.woff') format('woff');
}

:root {
  font-size: .9em;
  font-family: "ABCSans Regular";
}
body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}
h1, p, ul, #textbox, button {
  margin: 1rem 0 0 0;
}
h1 {
  font-family: "ABCSans Bold";
  font-size: 1.25rem;
}
h1, p {
  text-align: center;
}
#markus {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
a, #magic {
  color: #007D99;
  text-decoration: none;
}
a:hover {
  color: #FFB300;
}
#container {
  width: 75%;
  max-width: 750px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#textbox {
  vertical-align: top;
  outline: none;
  font-family: "ABCSans Regular";
  color: darkslategrey;
  height: 300px;
  padding: 1rem;
  background-color: #EFEFEF;
  overflow-x: hidden;
  overflow-y: scroll;
}
#textbox * {
  text-align: left;
}
#textbox p:first-child {
  margin: 0;
}
button {
  font-family: "ABCSans Bold";
  font-size: 1.25rem;
  background-color:#007D99;
  border: none;
  color: white;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  outline: none;
}
button:hover {
  background-color:#FFB300;
}
a {
  color: #007D99;
  text-decoration: none;
}
#note {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  color: slategrey;
  font-size: .85rem;
}
#float {
  position: absolute;
  background-color: #007D99;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 2px 2px 20px black;
  color: white;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -87.5px;
  width: 175px;
  height: 175px;
  pointer-events: none;
}
#float svg {
  fill: white;
  width: 100px;
  height: 100px;
}
#float p {
  font-family: "ABCSans Bold";
  font-size: 1.25rem;
}
#float:hover {
  background-color: #FFB300;
 }
